---
import { SITE_TITLE } from '../consts';
---

<header>
	<h2><a href="/">{SITE_TITLE}</a></h2>
</header>
<style>
	a, a.active {
		text-decoration: none;
		color: rgb(var(--heading-color));
	}
</style>
